<link rel="stylesheet" href=" " />

<li key="{movie.id}" className="card">
  <img className="card__img" src="<%= image %>" alt="{`Carátula" de } />
  <h3 className="card__title"><%= title %></h3>
  <p className="card__description">Género: <%= gender %></p>
</li>
